<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fitbit.sampleandroidoauth2"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".FitbitAuthApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.fitbit.sampleandroidoauth2.CLIENT_ID"
            android:value="23BMV5"/>
        <meta-data
            android:name="com.fitbit.sampleandroidoauth2.REDIRECT_URL"
            android:value="intent://sampleandroidoauth2.fitbit.com#Intent;scheme=http;package=com.fitbit.sampleandroidoauth2;category=android.intent.category.BROWSABLE;component=com.fitbit.sampleandroidoauth2.RootActivity;action=android.intent.action.VIEW;end"/>

        <activity
            android:name=".RootActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Fitbit.Teal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="sampleandroidoauth2.fitbit.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".UserDataActivity"
                  android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>